<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pritz.sikkimuniversity">
    android:hardwareAccelerated="true"
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/sul"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="Sikkim University"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Sikkim University"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".Departments"
            android:label="@string/title_activity_departments"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".LibSu"
            android:label="@string/title_activity_lib_su"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".Lost_Found"
            android:label="@string/title_activity_lost__found"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".Forums"
            android:label="@string/title_activity_forums"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".LostFound"
            android:label="@string/title_activity_lost_found"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".SUSA"
            android:label="SUSA"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".SU_Live"
            android:label="@string/title_activity_su__live"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".Wall"
            android:label="@string/title_activity_wall"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".Register"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity android:name=".RegisterStudents" />
        <activity
            android:name=".Pronounce"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".Details"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".Fromvc"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".AntiRagging"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".Schools"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".Department_list"
            android:parentActivityName=".Schools"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".HumanScience"
            android:parentActivityName=".Schools"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".LanguageandLitreature"
            android:label="jahsdfkjh"
            android:parentActivityName=".Schools"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".LifeSciences"
            android:label="Dsidhsihgf"
            android:parentActivityName=".Schools"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".PhysicalSciences"
            android:label="sfgbfgh"
            android:parentActivityName=".Schools"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".ProfessionalStudies"
            android:label="Deptdgk[nb"
            android:parentActivityName=".Schools"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".SocialSciences"
            android:label="Deptsvd"
            android:parentActivityName=".Schools"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity android:name=".SU_Connect" />

        <activity android:name=".Aboout_App" />
        <activity android:name=".GuestMode" />
        <activity
            android:name=".help"
            android:label="Deptsvd"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".Developers"
            android:label="Deptsvd"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".Blood"
            android:label="Deptsvd"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".Donate_Blood"
            android:label="Deptsvd"
            android:parentActivityName=".Blood"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".Important"
            android:label="Deptsvd"
            android:parentActivityName=".Blood"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.contact_book" />
        </activity>
        <activity
            android:name=".contact_book"
            android:label="Deptsvd"
            android:parentActivityName=".Blood"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".NSS"
            android:label="Deptsvd"
            android:parentActivityName=".Blood"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="anddroid.support.PARENT_ACTIVITY"
                android:value="com.pritz.sikkimuniversity.MainActivity" />
        </activity>
        <activity android:name=".Admin" />
        <activity android:name=".Notification" />
        <activity android:name=".Notificaion" />
        <activity android:name=".NotificationAdmin"></activity>
    </application>

</manifest>