<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pritz.sikkimuniversity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Departments"
            android:label="@string/title_activity_departments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LibSu"
            android:label="@string/title_activity_lib_su"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lost_Found"
            android:label="@string/title_activity_lost__found"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SUSA"
            android:label="@string/title_activity_sus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Forums"
            android:label="@string/title_activity_forums"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>